body {
  background-color: #29bde0 !important;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none !important;
  color: #fff;
}

a:link {
  text-decoration: none;
}

ul li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* header部分 */
.header {
  height: 80px;
  position: relative;
}

.header .menu {
  position: absolute;
  background: url(../../img/page2/header_menu.png) no-repeat;
  width: 39px;
  height: 40px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header .close {
  position: absolute;
  background: url(../../img/page2/header_close.png) no-repeat;
  width: 36px;
  height: 36px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header .title {
  position: absolute;
  font-size: 3rem;
  color: #fff;
  line-height: 80px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.header .close {
  opacity: 1;
}

/* nav部分 */
.nav {
  height: 60px;
  background-color: #b9e9f5;
  position: relative;
}

.nav p {
  line-height: 60px;
  margin-left: 40px;
  font-size: 1.5rem;
}

.nav .play {
  background: url(../../img/page2/vote_icon.png);
  width: 52px;
  height: 52px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%) scale(0.8);
}

.nav:after {
  width: 0;
  height: 0;
  border: 8px solid;
  border-color: #b9e9f5 transparent transparent;
  margin-top: -11px;
  margin-left: 50px;
}

/* main部分 */
.main {
  position: relative;
}

.main .explain {
  color: #fff;
  /* position: relative; */
  /* left: 50px; */
  /* top: 10px; */
  margin-top: 20px;
  margin-left: 50px;
  font-size: 1.5rem;
}

.main .vote {
  margin-top: 30px;
}

.main .vote {
  text-align: center;
}

.main .vote > li > div:nth-child(1) {
  width: 100px;
  height: 100px;
  border: 5px solid #fff;
  margin-bottom: 10px;
}

.main .vote > li > div:nth-child(1) > div:first-child {
  background-color: #f5c97b;
  height: 70px;
  line-height: 70px;
}

.main .vote > li > div > div:nth-child(2) {
  background-color: #83b09a;
}

.main .vote .col-xs-4 .hover {
  height: 30px;
  margin-bottom: 10px;
}

.main .vote .col-xs-4 .hover div {
  width: 30px;
  height: 30px;
  transform: scale(0.8);
}

.hover div:nth-child(1) {
  background: url(../../img/page2/vote_01.png);
}

.hover {
  display: flex;
  max-width: 100px;
  margin-bottom: 10px;
  visibility: hidden;
}

.hover img {
  max-width: 22px;
  height: 22px;
}

.hover img:nth-child(2), .hover img:nth-child(3),.hover img:nth-child(4){
  margin-left:3px;
}

.main .vote > li:hover .hover {
  visibility: visible;
}

/* footer部分 */
.footer {
  height: 100px;
  background-color: #29bde0;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer button {
  width: 70vw;
  height: 80px;
  background-color: #fbb435;
  margin: 10px 15vw;
}

.footer button a {
  width: 100%;
  height: 100%;
  display: block;
  line-height: 80px;
  color: #fff;
}

.main:after {
  height: 80px;
  content: "";
  width: 100%;
  display: block;
}


